<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/201/201614.png">
    <!-- Custom CSS styles -->
    <%- style %>
</head>

<body>
    <!-- Include header -->
    <%- include('_header') %>

    <!-- Main content body -->
    <%- body %>

    <!-- Custom JavaScript scripts -->
    <%- script %>
</body>

</html>
